<div class="ui-fluid">
    <div class="p-field">
        <label for="name">Nome</label>
        <input class="ui-inputtext" id="name" [(ngModel)]="entity.name">
    </div>

    <br/>

    <div class="p-field">
        <label for="value">Valor</label>
        <input id="value" type="number" class="ui-inputtext" [(ngModel)]="entity.value"/>
    </div>

    <br/>

    <div class="p-field">
        <label for="description">Descrição</label>
        <textarea id="description" class="ui-inputtextarea" [(ngModel)]="entity.description" rows="5"></textarea>
    </div>

    <br/>

    <div style="direction: rtl">
        <p-button styleClass="ui-button-success" label="Salvar" icon="pi pi-check" (click)="save()"></p-button>
    </div>
</div>
