<div class="topbar bg-black">
    <div class="p-grid">
        <div class="p-col-fixed p-0">
            <div class="topbar-logo">
                <img src="assets/layout/images/logo-white.png">
            </div>
        </div>

        <div class="p-col p-0">
            <p-menubar styleClass="topbar-menu" [model]="items"></p-menubar>
        </div>

        <div class="topbar-options">
            <a class="topbar-option">
                <span class="topbar-option-icon fa fa-gear"></span>
            </a>
        </div>
    </div>
</div>
