/* Add your customizations of the theme here */

.bg-blue {
    background-color: #007BE5 !important;
}

.bg-green {
    background-color: #20D077 !important;
}

.bg-red {
    background-color: #EF6262 !important;
}

.bg-yellow {
    background-color: #F9C851 !important;
}

.bg-gray {
    background-color: #eeeeee !important;
}

.bg-white {
    background-color: #FFFFFF !important;
}

.bg-black {
    background-color: #000000 !important;
}

.text-blue {
    color: #007BE5 !important;
}

.text-green {
    color: #20D077 !important;
}

.text-red {
    color: #EF6262 !important;
}

.text-yellow {
    color: #F9C851 !important;
}

.text-gray {
    color: #eeeeee !important;
}

.text-white {
    color: #FFFFFF !important;
}

.text-black {
    color: #000000 !important;
}

.text-bold {
    font-weight: bold !important;
}

.border {
    border: 1px solid #dee2e6 !important;
}

.border-left {
    border-left: 1px solid #dee2e6 !important;
}

.border-right {
    border-right: 1px solid #dee2e6 !important;
}

.border-top {
    border-top: 1px solid #dee2e6 !important;
}

.border-bottom {
    border-bottom: 1px solid #dee2e6 !important;
}

.radius {
    border-radius: 5px !important;
}

.radius-left {
    border-bottom-left-radius: 5px !important;
    border-top-left-radius: 5px !important;
}

.radius-right {
    border-bottom-right-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

.text-lg {
    font-size: large;
}

.text-md {
    font-size: medium;
}
